<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RumorseDBEntities" connectionString="metadata=res://*/RumorsModel.csdl|res://*/RumorsModel.ssdl|res://*/RumorsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=RumorseDB;user id=sa;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>