@model IEnumerable<SouthTech_Test.SouthTechService.Contact>

@{
    ViewBag.Title = "Index";
}

<h2>Contact List</h2>
@if (ViewBag.SuccessOpt == 1)
{

        <script type="text/javascript">

            $(function () {
                $("#success").css('display','block');
            })
        </script>
}
else if (ViewBag.SuccessOpt == -1)
{
    <script type="text/javascript">

            $(function () {
                $("#failed").css('display', 'block');
      
    })
    </script>

}
else
{
    <script type="text/javascript">

            $(function () {
                $("#failed").css('display', 'none');
                $("#success").css('display', 'none');
    })
    </script>
}


    <script type="text/javascript">
      
            $(function () {
                $("#myModal").modal('show');

            })
    </script>
<div id="success" class="alert alert-success" style="display:none">
    <strong>Success!</strong> created successfully.
</div>
<div id="failed" class="alert alert-danger" style="display:none">
    <strong>Fauild!</strong> operation did not end successfully .
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">

            <div class="dt-buttons btn-group">
                <a class="btn btn-default buttons-create" tabindex="0" aria-controls="example" href="~/Contact/Index/2">
                    <span>New</span>

                </a>


            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="input-group col-md-12">
        <input id="search" type="text" class="form-control input-lg pull-right" placeholder="Search" />
        <span class="input-group-btn">
            <button id="btnSearch" class="btn btn-info btn-lg" type="button">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </span>
    </div></div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item clearfix">
                        <span class="glyphicon glyphicon-phone"></span>
                        @Html.DisplayFor(modelItem => item.fld_Contact_Name)
                        <span class="pull-right">
                            <a class="btn btn-xs btn-group" alt="view" href="~/Contact/getContact/@item.fld_Contact_ID">
                                <span class="glyphicon glyphicon-list"></span>
                            </a>
                        </span>
                    </li>
                }
            </ul>

        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contact Info</h4>
            </div>
            <div class="modal-body">
                @if (ViewBag.ContactModel != null)
                {
                    @Html.Partial("_DispalyContact", (SouthTech_Test.SouthTechService.Contact)ViewBag.ContactModel)
                }
                else
                {
                    @Html.Partial("_AddContact", new SouthTech_Test.Models.Contact())}

            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/bundles/screenvalidation")
<script type="text/javascript">
    $(function () {
        $(".buttons-create").on('click', function () {

            $("#myModal").modal('show');

        });
        //$("#btnSearch").on('click', function () { $(".list-group li").show(); })
        $('#search').keyup(function () {
            var current_query = $('#search').val();
            if (current_query !== "") {
                $(".list-group li").hide();
                $(".list-group li").each(function () {
                    var current_keyword = $(this).text();
                    if (current_keyword.indexOf(current_query) >= 0) {
                        $(this).show();
                    };
                });
            } else {
                $(".list-group li").show();
            }
        });
        $('#search').blur(function () {
            var current_query = $('#search').val();
            if (current_query !== "") {
                $(".list-group li").hide();
                $(".list-group li").each(function () {
                    var current_keyword = $(this).text();
                    if (current_keyword.indexOf(current_query) >= 0) {
                        $(this).show();
                    };
                });
            } else {
                $(".list-group li").show();
            }
        });
    });

</script>

